$marginTenPx: 10px;
$zeroValue: 0;
$hundredPercent: 100%;

.main-container {
  margin-top: $marginTenPx;
  font-size: 0.9rem;
}
.no-border-radius {
  border-radius: $zeroValue !important;
}

.heading-margin {
  margin-bottom: 6rem;
}
.column-margin {
  margin-bottom: $marginTenPx;
}

.price {
    padding-bottom: 0.7rem;
}
.price-position {
  display: flex;
  position: absolute;
  bottom: $zeroValue;
  width:100% !important;
  box-sizing: bo;
  font-size: 0.8rem;
}

.xs-button {
    height: 0.5rem;
    font-size: 0.5rem;
}

// Mobile first structure
.img {
  width: 20%;
  height: $hundredPercent;
  object-fit:fill;
}
.card-body {
  width: 60%;
  font-size: 0.65rem;
}
.image-container {
  width: 40%;
}
.card-custom {
  flex-direction: row !important;
}

@media (min-width: 576px) {
  .img {
    width: 40%;
  }
  .card-body {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  .card-custom {
    flex-direction: column !important;
  }
  .img {
    width: 100% !important;
    aspect-ratio: auto;
  }
  .image-container {
    width: $hundredPercent;
  }
  .card-body {
    width: $hundredPercent;
    font-size: 1.0 rem;
  }
}

