$slider: none;

.thumbnail-wrapper {
  position: relative;
}

.arrow-right {
  color: gray;

  border-right: 10px solid;
  border-bottom: 10px solid;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
  opacity: 50%;
}

.arrow-left {
  color: gray;
  border-right: 10px solid;
  border-bottom: 10px solid;
  height: 30px;
  width: 30px;
  transform: rotate(135deg);
  opacity: 50%;
}

.thumbnail-wrapper {
  justify-content: center;
  display: flex;
  position: relative;
}

.thumbnail-carousel {
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: $slider;
  scrollbar-width: $slider;
  width: 70%;
}

.thumbnail-carousel::-webkit-scrollbar {
  display: $slider; /* for Chrome, Safari, and Opera */
}

.previous-btn,
.next-btn {
  position: absolute;
  top: 40%;
}

.previous-btn {
  left: 1rem;
}

.next-btn {
  right: 1rem;
}

#prevBtn,
#nextBtn {
  all: unset;
  cursor: pointer;
}

.thumbnails-content {
  display: flex;
}

.hide-lightbox-container {
  display: none;
}

.lightbox-container img {
  cursor: pointer;
}

// ************ Customization for yet-another-lightbox styles - replace black background with a transparent one, as it's not customizable by default/library parameters ************
.yarl__portal_open {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.yarl__container {
  background-color: unset !important;
}

.yarl__thumbnails_container {
  background-color: rgba(48, 48, 48, 0.8) !important;
}
.yarl__thumbnails_thumbnail {
  background: transparent !important;
}

.yarl__thumbnails_vignette {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.15) 0,
    transparent var(--yarl__thumbnails_vignette_size, 12%)
      calc(100% - var(--yarl__thumbnails_vignette_size, 12%)),
    rgb(0 0 0 / 15%) 100%
  ) !important;
}

// ************ END OF yet-another-lightbox styles customization ****************
